@import './variables';

.num {
    font-size: 20px;
    color: $primary-color-text;

    &--changed {
        @extend .num;
        color: $accent-color;
    }
}


//react-addons-css-transition-group
.fadeWrapper-enter {
  opacity: 0;
}

.fadeWrapper-enter.fadeWrapper-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeWrapper-leave {
    opacity: 1 ;
    transition: opacity 300ms ease-in ;
}

.fadeWrapper-leave.fadeWrapper-leave-active {
    opacity: 0;
}

.fadeWrapper {
    position: relative;
}